body {
  height: 100vh;
  width: 100%;
}

h1 {
  font-family:'Helvetica', 'sans-serif', 'Arial';
}

#map {
  height: 100%;
  width: 100%;
  position: relative;
  z-index: 1;
}

#info-box {
  position: absolute;
  background-color: #fff;
  top: 5vh;
  left: 5vw;
  width: 30vw;
  min-height: 20vh;
  z-index: 9999;
  padding: 1em;
  font-size: 1.2em;

  @media screen and (max-width: 768px) {
    bottom: 0;
    top: 70%;
    left: 0;
    width: 100%;
    // height: 20vh;
  }
}

#controls {
  position: absolute;
  background-color: #fff;
  top: 5vh;
  right: 5vw;
  z-index: 9999;
  padding: 1em;
  font-size: 1.2em;
}

