$mobile-width: 768px;
$narrow-mobile: 360px;

body {
  height: 100vh;
  width: 100%;
}

h1 {
  font-family:'Helvetica', 'sans-serif', 'Arial';
}

#map {
  height: 100%;
  width: 100%;
  position: relative;
  z-index: 0 !important;

  .leaflet-map-pane {
    z-index: 0 !important;
  }
}

#info-box {
  position: absolute;
  background-color: rgba(255,255,255,0.9);
  top: 5vh;
  left: 5vw;
  width: 30vw;
  height: auto;
  // min-height: 20vh;
  z-index: 9999 !important;
  padding: 1em;
  font-size: 1.2em;
  opacity: 0;

  &.show {
    opacity: 1;
  }

  @media screen and (max-width: $mobile-width) {
    background-color: rgba(255,255,255,1);
    bottom: 100vh;
    top: 75vh;
    left: 0vw;
    right: 100vw;
    width: 97vw;
    height: 25vh;
    padding: .4em;
    font-size: .9em;
  }
}

#controls {
  position: absolute;
  background-color: rgba(255,255,255,0.85);
  top: 5vh;
  right: 5vw;
  z-index: 9999 !important;
  padding: 1em;
  font-size: 1.2em;
}

// Loading spinner
.loading {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  position: fixed;
  top: 40vh;
  left: 45vw;
  z-index: 10000;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}